.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;   
    text-align: justify;
    padding: 14px;
    gap: 14px;


}   
.container img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
     margin: 14px;
}

