body {
  background-color: #333;
  color: #bbb;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

input::placeholder,
textarea::placeholder{
  font-family: "Montserrat", sans-serif;
}

input:focus,
textarea:focus{
  outline: none;
}

a, nav button{
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

a:hover,
nav button:hover{
  color: #333;
  background-color: #bbb;
  
}