.container-fav{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;   
    text-align: justify;
    padding: 14px;
    gap: 14px;
    flex-wrap: wrap;
    
}
.fav-item{
    display: flex;
    flex-direction: column;
    gap: 14px;
    border: 1px solid #333;
    padding: 14px;
    border-radius: 10px;
    height: 200px;
    max-width: 300px;
    flex-grow: 1;
}
.backdrop-favs-img {
    max-width: 280px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}