*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #222;
  color: #bbb;
  font-family: sans-serif;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}