*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #222;
  color: #bbb;
  font-family: sans-serif;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    /* margin-top: 14px; */
}
.container{
    max-width: 800px;
    margin: 14 auto;

    background-color: #151515;
    border-radius: 10px;
    padding: 14px;
    gap: 14px;
}

