body {
  margin: 0;
  padding: 0;
  background-color: #151515;
  color: #aaa;
}
.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: justify;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 2px solid #444;
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  height: 60px;
  width: 100%;
  background-color: #111;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #444;
  border-radius: 10px;
  border-width: 1px;
  padding: 10px;
  margin: 10px;
  width: 700px;
}

.titulo {
  font-size: 25px;
  color: #aaa;
  margin: 20px;
}

.subtitulo {
  margin: 20px;
}

.botao {
  height: 40px;
  background: none;
  text-decoration: none;
  border-radius: 5px;
  color: #aaa;
  border: 2px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.botao:hover {
  background-color: #aaa;
  color: #000;
  transition: all 0.3s ease-in-out;
}
