header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 60px;
  background-color: #222;
}

.logo {
  /* text-decoration: none; */
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
}

.favoritos {
  /* text-decoration: none; */
  background-color: #fff;
  color: #222;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
  border-radius: 5px;
  padding: 0px 10px;
}
