header {
  width: 100%;
  height: 100px;
  background-color: #333;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

header a + a {
  margin-left: 10px;
}
