.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    color: #fff;
}   
.not-found h1 {
    font-size: 80px;
}   
.not-found h2 {
    font-size: 24px;
}
.not-found a {
    color: #222;
    text-decoration: none;
    font-size: 24px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    transition: .3s;
}
.not-found a:hover {
    background-color: #000;
    color: #fff;
    transition: .3s;
}
