*{
    margin: 0;
    padding: 0;
}

.lista-filmes {
    max-width: 800px;
    margin: 14 auto;
}

.lista-filmes article {
    width: 100%;
    /* background-color: #222; */
    padding: 15px;
}

.lista-filmes strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

.poster{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin: 14px;
    margin: auto;
    
}

.lista-filmes a{
    margin-top: -10px;
    text-decoration: none;
    color: #ddd;
    font-size: 24px;
}
