.navbar{
    background-color: #333;
    padding: 10px;

}

.navbarItem{
    color: white;
    padding: 11px;
    text-decoration: none;
    
}
.active{
    font-weight: bold;
    background-color: #444;
}